
*.blade.php linguist-detectable=true
*.blade.php linguist-language=PHP


vendor/* linguist-vendored
node_modules/* linguist-vendored
public/build/* linguist-vendored
storage/* linguist-vendored


src/**/*.php linguist-detectable=true