# --- Laravel Standard ---
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache

# --- Environment & Secrets ---
.env
.env.backup
.env.production
.php_cs.cache
Auth.json

# --- Database ---
/database/*.sqlite
/database/*.sqlite-journal

# --- IDEs & OS ---
.idea/
.vscode/
.DS_Store
Thumbs.db

# --- Toolbox Specific ---

tests/Unit/Toolbox/.phpunit.result.cache